fastapi==0.115.6
uvicorn[standard]==0.30.1
SQLAlchemy==2.0.36
alembic==1.13.1
pydantic==2.10.5
pydantic-settings==2.7.1
gymnasium==0.29.1
pybullet==3.2.5
stable-baselines3==2.3.0
psutil==6.1.0
openpyxl==3.1.2
